html{
     font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
   font-family: 'Noto Sans TC', sans-serif;
   text-transform: none;
   font-size: 3rem;
}


.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.5rem;
	text-transform: none;
	letter-spacing:-0.05rem;
}

h1 .text-primary{
	 font-size: 3rem;
	 letter-spacing:-0.05rem;
	 line-height: 3rem;
}

.bg-primary{
	background-color: #0076d1! important;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}